<!-- Footer container -->
<footer class="footer-container">
  <!-- Footer content -->
  <div class="footer">
    <!-- Contact information wrapper -->
    <div class="flex-wrapper">
      <div class="contact-wrap">
        <div><img class="icons-wrap" src="../assets/svgs/chatIcon.svg" /></div>
        <div class="info">contact&#64;testproject.com</div>
      </div>
      <div class="contact-wrap">
        <div><img class="icons-wrap" src="../assets/svgs/phoneIcon.svg" /></div>
        <div class="info">(123) 124-1234</div>
      </div>
    </div>
    <!-- Copyright information -->
    <div class="info">&copy; 2023 Test Project | All Rights Reserved</div>
  </div>
</footer>
