<!-- Main content container -->
<main class="main">
  <div class="content">
    <div class="flex-wrapper">
      <!-- Left side content container -->
      <div class="left-side-content">
        <div class="heading">The Future</div>
        <div class="heading">of Estimating</div>
        <div class="desc">
          <p>Your time is money, and we respect that.</p>
          <p>Register your company, Install our mobile app,</p>
          <p>or log In on our web portal.</p>
        </div>
        <button class="btn btn-getstarted">
          Get Started
          <span class="arrow-icon"
            ><img src="../assets/svgs/forwardFillArrow.svg" alt="forward-arrow"
          /></span>
        </button>
      </div>
      <!-- Right side content container -->
      <div class="right-side-content">
        <img class="main-img" src="../assets/svgs/main-video.svg" alt="" />
      </div>
    </div>
  </div>
  <!-- Roadmap section -->
  <div class="roadmap">
    <div class="flex-wrapper">
      <div class="roadmap-heading-flex">
        <div class="heading">
          <div>Estimates that save your time and</div>
          <div>communication with the carrier</div>
        </div>
        <!-- Roadmap details container -->
        <div class="roadmap-container-flex">
          <div class="box-wrapper">
            <div class="img-wrapper"><img src="../assets/svgs/book.svg" /></div>
            <div class="info-wrapper">
              <p>The most accurate and</p>
              <p>documented estimated</p>
              <p>in the industry</p>
            </div>
          </div>
          <div class="box-wrapper">
            <div class="img-wrapper">
              <img src="../assets/svgs/scope.svg" />
            </div>
            <div class="info-wrapper">
              <p>Representation of</p>
              <p>the full scope of</p>
              <p>the project</p>
            </div>
          </div>
          <div class="box-wrapper">
            <div class="img-wrapper">
              <img src="../assets/svgs/clock.svg" />
            </div>
            <div class="info-wrapper">
              <p>Time-saving estimates</p>
              <p>and communication</p>
              <p>with the carrier</p>
            </div>
          </div>
          <div class="box-wrapper">
            <div class="img-wrapper">
              <img src="../assets/svgs/notebook.svg" />
            </div>
            <div class="info-wrapper">
              <p>Proper project</p>
              <p>valuation</p>
              <p></p>
            </div>
          </div>
          <div class="box-wrapper">
            <div class="img-wrapper">
              <img src="../assets/svgs/recycle.svg" />
            </div>
            <div class="info-wrapper">
              <p>Automated process</p>
              <p>management with</p>
              <p>our free app</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Download section for the app -->
      <div class="download-free">
        <div class="text-wrapper">Download <span>FREE</span></div>
        <div class="text-wrapper">Test Project Mobile App</div>
        <div class="flex-wrapper">
          <div><img src="../assets/svgs/googleplay.svg" /></div>
          <div><img src="../assets/svgs/appstore.svg" /></div>
        </div>
        <!-- container for QR codes -->
        <div class="flex-wrapper">
          <div><img src="../assets/svgs/qrcode.svg" /></div>
          <div><img src="../assets/svgs/qrcode.svg" /></div>
        </div>
      </div>
    </div>
  </div>
</main>
