<!-- Header section with navigation bar -->
<header class="navbar">
  <div class="container">
    <!-- Brand logo with a link to the home page -->
    <a class="navbar-brand" routerLink="/"
      ><img src="../assets/svgs/testLogo.svg" alt="logo"
    /></a>
    <!-- Navigation menu -->
    <nav class="navbar-nav">
      <a class="nav-item" routerLink="/">Home</a>
      <a class="nav-item" routerLink="/about">About</a>
      <a class="nav-item" routerLink="/pricing">Pricing</a>
      <a class="nav-item" routerLink="/">Videos</a>
      <a class="nav-item" routerLink="/">Testimonials</a>
      <a class="nav-item" routerLink="/">Contact</a>
    </nav>
    <!-- Authentication buttons -->
    <div class="auth-buttons">
      <button class="btn btn-login">Login</button>
      <button class="btn btn-register">
        Register
        <span class="arrow-icon"
          ><img src="../assets/svgs/forwardFillArrow.svg" alt="forward-arrow"
        /></span>
      </button>
    </div>
  </div>
</header>
